html, body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    color: #004C93;
}

.main {
    margin-top: 100px;
}

a:hover {
    color: #fff;
    text-decoration: underline;
}

/* all about nav */

nav {
    background: #004C93;
    overflow: hidden;
    top: 0;
    position: fixed; /* Set the navbar to fixed position */
    width: 100%; /* Full width */
}

.main_menu {
    display: flex;
    justify-content: space-between;
    padding: 24px 0;
    align-items: baseline;
}

nav a {
    text-decoration: none;
    color: #fff;
}

nav a.active {
    text-decoration: underline;
}

.right_name {
    color:#fff;
    width: auto;
    font-size: 24px;
    font-weight: 700;
}

ul.left_nav{
    list-style: none;
    display: flex;
    width: auto;
    gap: 16px;
}

.left_nav {
    font-size: 16px;
    font-weight: 400px;
}

@media screen and (max-width: 991px){
    .left_nav {
        display: none !important;
    }
}


.menu_burger {
    display: none;
}

@media (max-width: 991px){
    .menu_burger {
        display: block  !important;
        position: relative;
        width: 30px;
        height: 20px;
    }
    .menu_burger span {
        position: absolute;
        background: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        top: 9px;
    }
    .menu_burger::before, 
    .menu_burger::after {
        content: "";
        background: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        
    }
    .menu_burger::before {
        top: 0;
    }
    .menu_burger::after {
        bottom: 0;
    }
}

/* all about nav end*/

/* name starts */
#about {
    padding: 32px 0px;
    display: flex;
    justify-content: space-between;
}   

.name {
    padding-top: 68px;
}

.name h1 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 40px;
}

.my_info {
    font-size: 24px;
    font-style: italic;
}

.my_image {
    height: 630px;
    width: 565px;
    background: url("../img/my_image.png");
    border-radius: 8px;
}

/* name ends */

/*about section starts*/
.section{
    background: #F3FBFF;
    padding: 32px 0px;
}

.section_even {
    background: #fff;
    padding: 32px 0px;
}

/*about section ends*/

/*activity starts*/
.activity {
    padding: 32px 0;
}

.section_content {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.activity_method {
    width: 200px;
    height: 290px;
    border: 1px solid #004C93;
    padding: 8px 8px 16px 8px;
    margin-top: 16px;
}

.activity_method:nth-child(even) {
    margin-top: 64px;
}

@media screen and (max-width: 1200px) {
    .activity_method:nth-child(even) {
        margin-top: 32px;
    }
    .activity_method {
        margin-top: 32px;
    }
}

@media screen and (max-width: 720px) {
    .activity_method {
        margin-top: 32px;
        height: auto;
        width: 100%;
        display: flex;
        align-items: center;
        gap: 16px;
    }
    .activity_number {
        padding: 0;
        margin: 0;
        font-size: 24px;
    }
}

.section_title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 16px;
}

.activity_number {
    font-size: 120px;
    font-weight: 700;
    padding: 0;
}

.activity_info {
    margin-top: -10px;
}
/*aactivity ends*/

/*calc starts*/

.lableInput {
    display: flex;
}

.calc_inputs {
    width: 60%;
    display: flex;
}

.input_item {
    width: 555px;
    padding-bottom: 16px;
}

input {
    width: 555px;
    height: 32px;
    border-radius: 5px;
    border: 1px solid #000;
    padding: 0px 0px 0px 8px;
}

select {
    width: 555px;
    height: 32px;
    border-radius: 5px;
    border: 1px solid #000;
    padding: 0px 0px 0px 8px;
}

.calc_results {
    margin-left: 32px;
}


button {
    padding: 8px 16px;
    background: #004C93;
    border-radius: 5px;
    border: 0;
    color: #fff;
    padding: 8px 16px;
    text-decoration: none;
}

.custom_button:hover {
    background: #083864;
}

/*calc ends*/

/*problems starts*/

/*problems ends*/

/*emoji starts*/
.emoji_section {
    display: flex;
    justify-content: center;
}

.section_image {
    width: 600px;
    height: 567px;
    background-image: url(../img/emoji.png);
}
/*emoji ends*/

/*footer starts*/
footer {
    background: #004C93;
    padding: 16px 0;
}

#footer_content{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

footer a {
    color: #fff;
    text-decoration: none;
}
.social {
    width: 32px;
    height: 32px;
    background-image: url(../img/vk_icon.svg);
    color: #fff;
}

.right_nav {
    display: flex;
    justify-content: center;
    gap: 16px;
    align-items: center;
}
/*footer ends*/

/*modal view*/
.modal_view {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%; /* Полная ширина */
    height: 100%; /* Полная высота */
    background-color: rgba(19, 6, 39, 0.692); 
  }

  .modal_content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% сверху и по центру */
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    height: auto;
    border-radius: 16px;
  }

  .modal_header {
    padding: 16px;
  }

  .modal_main {
    padding: 16px;
  }

  .modal_footer {
    padding: 16px;
    display: flex;
    align-items: flex-end;
    justify-content: end;
  }

.hidden {
    display: none;
}

  
/* modal view ends*/
